body {

    background-color: slategray;
}

h1 {
    color: burlywood;
    font-size: 60px;
}

h2{
    color: maroon;
    font-size: 60px;
    }

button{ 
        color: palegoldenrod;
    }

img{

    width: 300px;
}


/* Jumbotron background and font styles */
.jumbotron {
    /* Background */
    background-attachment: fixed;
    background-image: url(brewing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
      /* Fonts */
  /* The text-shadow helps the white text stand out better on a darker background */
  color: white;
  text-shadow: 1px 1px 1px black;
}